<div id="page" data-role="page">

  <!-- content -->
  <div data-role="content">

    <!-- Game Select Page -->
    <% if params[:kind] == 'game' then %>
      <div style="text-align:center">
        <h2><%= @member.name %></h2>
      </div>

      <%= form_for '/members/${@member.id}/score' do |f| %>
        <div style="text-align:center;">Please select a game</div>

        <fieldset data-role="controlgroup">
          <input type="radio" name="game_id" id="game_id_1" value="1" <% if @member.game_id == 1 then %>checked<% end %> />
          <label for="game_id_1">Darts (Owner)</label>
          <input type="radio" name="game_id" id="game_id_2" value="2" <% if @member.game_id == 2 then %>checked<% end %> />
          <label for="game_id_2">Darts (Member)</label>
          <input type="radio" name="game_id" id="game_id_3" value="3" <% if @member.game_id == 3 then %>checked<% end %> />
          <label for="game_id_3">Billiards</label>
          <input type="radio" name="game_id" id="game_id_4" value="4" <% if @member.game_id == 4 then %>checked<% end %> />
          <label for="game_id_4">Golf</label>
          <input type="radio" name="game_id" id="game_id_9" value="9" <% if @member.game_id == 9 then %>checked<% end %> />
          <label for="game_id_9">None</label>
        </fieldset>

        <div style="text-align:center;margin-top:10px;">
          <button class="ui-shadow ui-btn ui-corner-all" data-ajax=”false”>Update</button>
          <a href="/teams/members/<%= @member.name %>" rel=”external” data-ajax=”false” class="ui-btn ui-corner-all ui-shadow">Return</a>
        </div>
      <% end %>
    <% end %>
    <!-- /Game Select Page -->

    <!-- Score Update Page -->
    <% if params[:kind] == 'score' then %>
      <div style="text-align:center">
        <h2><%= @member.name %></h2>
        <h3>Game: <%= @member.game.name %></h3>
      </div>

      <%= form_for '/members/${@member.id}/score' do |f| %>
        <div class="ui-grid-b">
            <div class="ui-block-a"><div class="ui-bar ui-bar-c"></div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-c">
              <input type="text" id="score" name="score" value="<%= @member.score %>" style="text-align:right;height:50px" />
            </div></div>
            <div class="ui-block-c"><div class="ui-bar ui-bar-c""></div></div>
        </div>

        <div style="margin-left:10%;">
          <p>Darts*：ペアの最終得点を登録してください。（ペア代表者のみ）</p>
          <p>Billiards：1球 × 50点の計算結果を登録してください。</p>
          <p>Golf：飛距離を登録してください。</p>
        </div>

        <div style="text-align:center;margin-top:40px;">
          <button class="ui-shadow ui-btn ui-corner-all" data-ajax=”false”>Update</button>
          <a href="/teams/members/<%= @member.name %>" rel=”external” data-ajax=”false” class="ui-btn ui-corner-all ui-shadow">Return</a>
        </div>
      <% end %>
    <% end %>
    <!-- /Score Update Page -->

  </div>
  <!-- /content -->
</div>
